.todoListMain .header input {
    padding: 10px;
    font-size: 32px;
    border: 2px solid #FFF;
    width: 165px;

}

.todoListMain .header button {
    padding: 10px;
    font-size: 32px;
    margin: 10px;
    margin-right: 0px;
    background-color: #0066FF;
    color: #FFF;
    border: 2px solid #006600;
}

.todoListMain .header button:hover {
    background-color: #003399;
    border: 2px solid #003399;
    cursor: pointer;

}

.todoListMain .TheList li {
    color: #333;
    background-color: rgba(255,255,255, .5);
    padding: 15px;
    margin-bottom: 15px;
    border-radius: 5px;
    list-style: none;

    transition: background-color .2 ease-out;


}

.todoListMain .TheList li:hover {
    background-color: pink;
    cursor: pointer;
}
ul.TheList {
    padding: 0;

}